<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block body %}
<div id="sidebar">
    <ul>
        <li>{{ category }}</li>
        <li>{{ promotion }}</li>
    </ul>
</div>
{% endblock %}
</body>
</html>