{# templates/place.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {{ title }}{% endblock %}</title>
    </head>
    <body>
        {{ content | raw }}
    </body>
</html>